body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-layout {
  min-height: 100vh;
}
.login {
  margin-top: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  max-width: 400px;
  
  justify-content: center;
}
.login-form-forgot {
  float: right;
}
.login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
/* .logo{
  stroke: aquamarine;
  
} */

.logo.ant-menu-item-icon{
 padding-right:23px !important; 
margin: 0 !important;
size: 70px !important;
  
}
span.ant-menu-title-content{
 
}
